<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container"><a class="navbar-brand d-md-none" href="#">
        <svg class="bi" width="24" height="24" aria-hidden="true">
            <use xlink:href="#aperture"></use>
        </svg>
        Aperture
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#" aria-label="Aperture">
                        <svg class="bi" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#aperture"></use>
                        </svg>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:category_list' %}">Категории</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:product_list' %}">Продукты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blogs:blogs_list' %}">Блог</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'users:logout' %}" style="display: inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Выход</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="#" aria-label="Cart">
                        <svg class="bi" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
