{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">{{ object.title }}</h2>
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'blogs:blogs_list' %}" role="button">На главную</a>
            </div>
            <p class="lead">{{ object.content }}</p></div>
        <div class="bg-body-tertiary shadow-sm mx-auto"
             style="width: 30%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="{{ object.preview | media_filter }}">
        </div>
    </div>
</div>
{% endblock %}