{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for entry in object_list %}
            {% if entry.publication_sign %}
                <div class="col-12 col-md-3 mb-4">
                    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden d-flex flex-column">
                        <div class="my-3 py-3">
                            <h2 class="display-5">{{ entry.title }}</h2>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blogs:blogs_detail' entry.pk %}" role="button">Просмотр</a>
                                {% if entry.creator == user %}
                                <a class="btn btn-secondary" href="{% url 'blogs:blogs_update' entry.pk %}" role="button">Редактировать</a>
                                <a class="btn btn-danger" href="{% url 'blogs:blogs_confirm_delete' entry.pk %}" role="button">Удалить</a>
                                {% endif %}
                            </div>
                            <p class="lead">{{ entry.content|truncatechars:100 }}</p></div>
                        <div class="bg-body-tertiary shadow-sm mx-auto"
                             style="width: 80%; height: 250px; border-radius: 21px 21px 0 0; overflow: hidden;">
                            <img src="{{ entry.preview | media_filter }}"
                                 class="img-fluid"
                                 style="object-fit: cover; object-position: center;">
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}