{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if object %}
            <h2>Редактирование категории:</h2>
            {% else %}
            <h2>Добавление категории:</h2>
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>
                    <a class="btn btn-secondary mb-3" href="{% url 'catalog:category_list' %}" role="button">К списку категорий</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}